<div class="container">
    <div class="row">
        <div class="col l6 s12">
            <h5 class="white-text">Giới thiệu</h5>
            <p class="grey-text text-lighten-4"><a class="orange-text text-lighten-3" href="">HỆ THỐNG GIÁO DỤC HÀNG ĐẦU VIỆT NAM.</a>
                Với hơn 2,5 triệu thành viên tham gia học tập
                Gần 100 thày cô giáo giỏi, uy tín trên toàn quốc
                Hơn 400 thủ khoa, á khoa các cấp
                Cùng hàng trăm nghìn học sinh tiến bộ vượt trội
                là thành viên của HOCMAI..</p>
            <img class="responsive-img" src="public/images/hocmailogo.jpg">

        </div>
        <div class="col l3 s12 ">
            <h5 class="white-text">Mobile App</h5>
            <ul>

                <li><img class="responsive-img" src="public/images/appstoreicons.png"></li>

            </ul>
        </div>
        <div class="col l3 s12">
            <h5 class="white-text">Liên lạc</h5>
            <ul>

                <li><img class="responsive-img" src="public/images/social_icons.png"></li>


            </ul>
        </div>
    </div>
</div>
<div class="footer-copyright">
    <div class="container">
        Made by <a class="orange-text text-lighten-3" href="">Kiều Minh Đức</a>
    </div>
</div>